.floating-btn {
    position: fixed;
    bottom: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 32px;
}

.btn-plus {
  cursor: pointer;
  border: 2px solid #095776;
  right: 20px;
}

.btn-plus:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 35%;
  background: #fff;
  top: 50%;
  left: 50%;
}

.btn-plus:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  height: 35%;
  width: 3px;
}

.btn-calculate {
    left: 20px;
    border-radius: 5px; /* Cantos arredondados */
    padding: 10px 20px;
    width: auto;
    height: auto;
    font-size: 16px;
}

.btn-salvar {
    right: 20px;
    border-radius: 5px; /* Cantos arredondados */
    padding: 10px 20px;
    width: auto;
    height: auto;
    font-size: 16px;
}

.pb-90px {
    padding-bottom: 90px;
}

html, body {
    height: 100%;
    margin: 0;
}

main {
    height: 100vh; /* Ocupa 100% da altura da viewport */
    overflow-y: auto; /* Permite rolagem vertical quando necessário */
}